body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}
header {
    background: #333;
    color: #fff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #1abc9c 3px solid;
}
header a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}
header ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
header li {
    display: inline;
    padding: 0 20px 0 20px;
}
header #branding {
    float: left;
}
header #branding h1 {
    margin: 0;
}
header nav {
    float: right;
    margin-top: 10px;
}
header .highlight, header .current a {
    color: #1abc9c;
    font-weight: bold;
}
header a:hover {
    color: #cccccc;
    font-weight: bold;
}

#contacts h2{
    position: relative;
    left: 4%;
}

#contacts p{
    position: relative;
    left: 5%;
}

footer {
    padding: 20px;
    margin-top: 20px;
    color: #ffffff;
    background-color: #1abc9c;
    text-align: center;



    position: absolute;
    bottom: 0;
    width: 100%;
}













button {
    background-color: rgb(96, 150, 97);
    color: white;
    padding: 10px 20px;
    
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

button:hover {
    background-color: rgb(96, 150, 97);
}

button a {
    text-decoration: none;
    color: white;
}